<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tradedata.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tradedata.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tradeData</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tradeData</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:trentsql.database.windows.net,1433;Initial Catalog=tradeData426;User ID=trentadmin@trentsql;Password=Electricity2016" Name="Data Source=tcp:trentsql.database.windows.net,1433;Initial Catalog=tradeData426;User Id=trentadmin@trentsql;Password=Electricity2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CentralDataService.Models.ApplicationDbContext, CentralDataService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:trentsql.database.windows.net,1433;Initial Catalog=tradeData426;User ID=trentadmin@trentsql;Password=Electricity2016" Name="Data Source=tcp:trentsql.database.windows.net,1433;Initial Catalog=tradeData426;User Id=trentadmin@trentsql;Password=Electricity2016" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DataService.Models.DataServiceDbContext, CentralDataService" MigrationConfiguration="CentralDataService.Migrations.Configuration, CentralDataService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:trentsql.database.windows.net,1433;Initial Catalog=tradeData426;User Id=trentadmin@trentsql;Password=Electricity2016</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:trentsql.database.windows.net,1433;Initial Catalog=tradeData426;User Id=trentadmin@trentsql;Password=Electricity2016</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>